// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }

.answer, .question {
  border-left: solid lightgrey;
  margin: 30px 0px;
  padding: 5px 10px;
}

.answer {
  background-color: lightyellow;
}

.container {
  margin : 0px auto;
  padding: 20px;
}
